<ion-modal-view>
  <ion-header-bar class="bar-positive fix-buttons">
    <a class="button" ng-click="closeEnrolModal()">&lt;&nbsp;先随便看看</a>
    <h1 class="title">会员注册</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="enrol(user)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="请输入手机号码" ng-model="user.mobile">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">注册</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
