<ion-modal-view>
  <ion-header-bar class="bar-positive fix-buttons">
    <a class="button" ng-click="closeLoginModal()">&lt;&nbsp;先随便看看</a>
    <h1 class="title">会员登录</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="login(user)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="请输入手机号码" ng-model="user.mobile">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">登录</button>
      </div>
    </form>
    <button class="button button-block" ng-click="openEnrolModal()">没有账号？注册一个呗</a>
  </ion-content>
</ion-modal-view>
