<ion-view view-title="Personal" ng-app="nnitcommercialapp">
	<ion-content class="padding" ng-controller="PersonalCtrl">
		<div class="list card">
			<div class="item item-avatar">
				<img src="{{p.pic}}" alt="">
				<h2>{{p.nick_name}}</h2>
			</div>
      <a class="item item-icon-left">
        <i class="icon ion-bag"></i>收藏店铺
        <span class="badge">0</span>
      </a>
			<div class="item item-icon-left">
				<i class="icon ion-ios-telephone"></i>电话号码
				<h2>{{p.CELL_PHONE}}</h2>
			</div>
			<div class="item item-icon-left">
				<i class="icon ion-ios-email"></i>邮件地址
				<h2>{{p.email_addr}}</h2>
			</div>
			<div class="item item-icon-lef">
				<i class="icon ion-bag"></i>当前积分
				<span class="badge">{{integral}}</span>
			</div>
			<div class="item">
				<button class="button button-block button-positive" ng-click="logout()">
					退出登录
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>
